* {
  margin: 100px;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 200px;
  width: 200px;
  border: 2px dotted gray;
  background-color: blueviolet;
  /* transition */

  /* transition-duration: 1s; */
  /* transition-delay: 1s; */
  /* transition-property: border-radius; */
  /* transition-timing-function: ease-in; */
  transition: border-radius 1s ease-in 1s;
}

.box:hover {
  background-color: aquamarine;
  border-radius: 50%;
}
