* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px dotted black;
}

.container {
  height: 1000px;
  width: 1000px;
  border: 1px dotted gray;
  margin: 200px;
  background-color: gray;

  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* flex-wrap: wrap; */
  flex-flow: wrap row;
}

#box-5 {
  order: 1;
}

#box-2 {
  order: 2;
}

#box-7 {
  flex-grow: 1;
}

#box-3 {
  flex-shrink: 1;
}

#box-4 {
  flex-basis: 50px;
}

#box-8 {
  align-self: flex-start;
}
